In [3]:
from scipy import stats
import scipy
import feather as ft
import os
import pandas as pd
import numpy as np
import time
from collections import Counter
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import datetime as dt
import configparser
import re
import utils
import seaborn as sns
from matplotlib_venn import venn3
pd.options.display.max_rows = 20
pd.options.display.max_columns = 50
import warnings
warnings.filterwarnings('ignore')

/opt/conda/lib/python3.6/site-packages/matplotlib/__init__.py:886: MatplotlibDeprecationWarning:
examples.directory is deprecated; in the future, examples will be found relative to the 'datapath' directory.
  "found relative to the 'datapath' directory.".format(key))

In [7]:
path = "../../share/data_prod/"
# member_profile = ft.read_dataframe(path + 'member_profile.ft')
game_daily_summary = ft.read_dataframe(path +'game_daily_summary.ft').reset_index(drop=True)
# member_summary = ft.read_dataframe(path +'member_summary.ft').reset_index(drop=True)

In [12]:
query_time_end = pd.datetime.today().date()
query_time_start = query_time_end - pd.Timedelta('1 days')
target_game_type = ['IMVGCard', 'IMKYCard', 'IMLYCard']

In [22]:
tmp = game_daily_summary.query('date >= @query_time_start & date < @query_time_end & product_type.isin(@target_game_type)').groupby(['member_name', 'member_id']).stake.sum().reset_index().sort_values(by = 'stake').reset_index()

In [23]:
tmp['rebate'] = tmp.stake*0.01
tmp.loc[tmp.rebate > 10000, 'rebate'] = 10000

In [24]:
tmp

     index    member_name  member_id       stake      rebate
0       16      244307001     456681        3.00      0.0300
1      138        qwe5581     155371        3.20      0.0320
2      170     wegame7620     456563        6.00      0.0600
3       97    lihao111333     233487       14.00      0.1400
4       36    a1102362521     464281       14.60      0.1460
5      174         win588      49319       14.70      0.1470
6      199       yang1187     165513       28.50      0.2850
7      195        xiuxiu1     482877       34.60      0.3460
8      151      stone0851     333039       39.20      0.3920
9      162        waj2003      13272       40.00      0.4000
..     ...            ...        ...         ...         ...
215     50       cash0795     182132   136734.54   1367.3454
216     61       dada0930     300592   147001.22   1470.0122
217     43         ahz168     241668   155462.06   1554.6206
218    102  liuyu19870628     448171   155480.00   1554.8000
219    204         ylcylc     290862   176481.93   1764.8193
220     94         lh0610     285163   189300.42   1893.0042
221    119         mai088     310490   225387.00   2253.8700
222    115   luojie070507     452500   320923.94   3209.2394
223    154     sunwei1234     199676   464100.00   4641.0000
224    201     yaoyaoying     480578  1093910.00  10000.0000

[225 rows x 5 columns]